POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=
VOTING_DATABASE_URL=

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=
PUBLIC_KEY_PATH=public.pem

DJANGO_SECRET_KEY=secret_key

AUTH_SERVICE_URL=http://auth-service:8000
