VITE_API_URL=http://localhost

VITE_LOGIN_SERVICE_URL=http://localhost
VITE_MAP_SERVICE_URL=http://localhost
VITE_ADMIN_SERVICE_URL=http://localhost
VITE_VOTING_SERVICE_URL=http://localhost

VITE_MAPBOX_TOKEN=
