DB_NAME=auth_db
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=auth-db
DB_PORT=5432

DJANGO_SECRET_KEY=secret_key

PRIVATE_KEY_PATH=private.pem
PUBLIC_KEY_PATH=public.pem

BREVO_API_KEY=your_key
SENDER_EMAIL=example@gmail.com
VALKEY_ADDR=valkey_path

DAILY_CODE_KEY=valkey_key

FRONTEND_URL=frontend_url
MAIL_SERVICE_URL=mail_url
SERVICE_URL=service_url
