DB_NAME=
DB_USER=
DB_PASSWORD=
POSTGRES_PASSWORD=
DB_HOST=db
DB_PORT=5432

DJANGO_SECRET_KEY=

PRIVATE_KEY_PATH=private.pem
PUBLIC_KEY_PATH=public.pem


MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=

DATABASE_HOST=map-service-db
DATABASE_PORT=3306



VOTING_DB_USER=
VOTING_DB_PASSWORD=
VOTING_DB_NAME=

DATABASE_URL=
VOTING_DATABASE_URL=

PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PUBLIC_KEY_PATH=
DJANGO_SECRET_KEY=